@include mediaXl {
  #work {
    .projects {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@include mediaLg {
  main .projects .img-container .description {
    font-size: 1.7rem;
  }

  #work {
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@include mediaMd {
  .menu-burger {
    float: right;
    display: block;
    z-index: 3;
    margin: 14px;
    // margin-right: 30px;
    // margin-top: 30px;
    cursor: pointer;
    @include easeOut;
  }
  main {
    margin-top: 26px;
    align-items: center;
    text-align: center;

    h1.bigHeader {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4rem;
    }
    .projects .img-container .description {
      font-size: 1.5rem;
      p {
        margin: 10% auto;
      }
    }
    .fa-3x {
      font-size: 30px;
    }
    #skillsHeader {
      // font-size: 2rem;
      margin-left: 0;
      padding-left: 0;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: rotate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 40vh;
    margin-top: 0;
    line-height: 1;
    transform: translate3d(-100%, 0, 0);

    .nav-item {
      font-size: 20px;
    }
  }
  .menu-branding {
    height: 60vh;
    transform: translate3d(100%, 0, 0);
    .about {
      font-size: 20px;
      .tag {
        font-size: 28px;
      }
    }
  }
  #work {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include mediaSm {
  main {
    padding: 0;
    h1.bigHeader {
      margin-left: 0;
      font-size: 3rem;
    }

    #home {
      margin-top: 10vh;
    }
  }
  #work {
    .projects {
      grid-template-columns: 1fr;
    }
  }
}
